/* Ocultar a seção de CTA */
section.cta {
    display: none;
}


/* --- WHATSAPP CONTACT SECTION --- */
.whatsapp-contact-section {
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(/img/cta-circles-bg2.png) fixed;
    background-color: var(--light-purple-color);
}

.whatsapp-contact-wrap {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.whatsapp-contact-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    z-index: 10;
}

.whatsapp-contact-right {
    width: 100%;
    align-items: center;
    margin-bottom: -66px;
}

.whatsapp-contact-right:hover {
    transform: scale(1.03);
}

.img.character-contato-img {
    height: 800px;
}

.cta-button-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    border: 6px solid var(--black-color);
    box-shadow: var(--medium-box-shadow);
    padding: 20px 30px;
    font-size: var(--h3-font-size);
    font-weight: var(--title-weight);
    color: var(--white-color);
    background: var(--red-color);
    line-height: 2rem;
    text-align: left;
}

.cta-button-contato:hover {
    color: var(--white-color);
    transform: var(--medium-hover);
    box-shadow: var(--medium-box-shadow-hover);
}

.link-card:hover {
    border: 6px solid var(--red-color);
}

/* Icon style*/
.icon-whatsapp {
    width: 40px;
    height: 40px;
    fill: currentColor;
    /* Faz o ícone herdar a cor 'white' do texto */
}

img.whatsapp-contact-right {
    width: 500px;
}




/* --- FORMULÁRIO DE CONTATO --- */
.form-group-floating {
    position: relative;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.form-row .form-group-floating {
    flex: 1;
    /* Faz cada campo ocupar metade da linha */
}

/* Estilo base dos Inputs e Textarea */
.form-group-floating input,
.form-group-floating textarea {
    width: 100%;
    padding: 20px;
    border: 6px solid var(--black-color);
    background-color: var(--white-color);
    box-shadow: var(--small-box-shadow);
    font-size: 1.4rem;
    font-weight: 700;
    outline: none;
    transition: all 0s ease;
    display: block;
}

.form-group-floating textarea {
    height: 300px;
}

/* Label style (Texto que vai subir) */
.form-group-floating label {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 700;
    left: 28px;
    top: 26px;
    color: var(--gray-color);
    transition: all 0.1s ease;
    pointer-events: none;
    /* Deixa o clique passar para o input */
}

/* QUANDO O INPUT ESTÁ EM FOCO OU TEM TEXTO */
/* O label sobe, muda de cor e diminui */
.form-group-floating input:focus+label,
.form-group-floating input:not(:placeholder-shown)+label,
.form-group-floating textarea:focus+label,
.form-group-floating textarea:not(:placeholder-shown)+label {
    top: -12px;
    left: 24px;
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 0 5px;
}

/* Ajuste do Foco igual ao seu botão */
.form-group-floating input:focus,
.form-group-floating textarea:focus {
    border: 6px solid var(--red-color);
}





/* --- SEÇÃO DE LINKS --- */
.link-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* 1 coluna no celular */
    gap: 20px;
    justify-content: center;
}

.link-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 40px;
    min-height: 200px;
    background-color: var(--white-color);
    border: 6px solid var(--black-color);
    box-shadow: var(--small-box-shadow);
    text-decoration: none;
    transition: all 0s ease;
}

.link-card:hover {
    transform: var(--small-hover);
    box-shadow: var(--small-box-shadow-hover);
}

/* Ícone */
.link-icon {
    width: 60px;
    fill: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.link-icon:hover {
    fill: var(--red-color);
}

/* Textos dentro do Card */
.link-content {
    display: flex;
    flex-direction: column;
}















/* ========== RESPONSIVO - TABLET 768+ ==========*/
@media screen and (min-width:768px) {
    .whatsapp-contact-wrap {
        flex-direction: row;
    }

    .whatsapp-contact-left {
        min-width: 50%;
        align-items: flex-start;
        text-align: left;
        margin-bottom: 100px;
    }

    .form-row {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .link-grid {
        gap: 30px;
    }

    img.whatsapp-contact-right {
        width: 700px;
        margin-left: -120px;
    }

    .form-group-floating input,
    .form-group-floating textarea {
        box-shadow: var(--medium-box-shadow);
    }

    .link-card {
        flex-direction: row;
        align-items: center;
        box-shadow: var(--medium-box-shadow);
    }

    .link-card:hover {
        transform: var(--medium-hover);
        box-shadow: var(--medium-box-shadow-hover);
    }
}














/* ========== RESPONSIVO - LAPTOP 1024+ ==========*/
@media screen and (min-width:1024px) {
    .whatsapp-contact-right {
        width: 53%;
        align-items: flex-start;
    }

    .link-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .link-card {
        flex-direction: row;
        align-items: center;
        box-shadow: var(--large-box-shadow);
    }

    .link-card:hover {
        transform: var(--large-hover);
        box-shadow: var(--large-box-shadow-hover);
    }

    .form-row {
        display: flex;
    }

    img.whatsapp-contact-right {
        margin-left: -90px;
    }

    .form-group-floating input,
    .form-group-floating textarea {
        box-shadow: var(--large-box-shadow);
    }
}














/* ========== RESPONSIVO - DESKTOP 1440+ ==========*/

@media screen and (min-width:1440px) {
    img.whatsapp-contact-right {
        width: 800px;
    }
}