/* --- SEÇÃO DE CTA UNIVERSAL (ACIMA DO FOOTER) --- */

.cta {
  background: url(/img/cta-circles-bg.png) fixed;
  background-color: var(--light-purple-color);
  z-index: 1;
}

.cta-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.cta-l-column {
  min-width: 45%;
}

.cta-r-column {
  min-width: 45%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  padding: 60px;
  background: var(--white-color);
  border: 6px solid var(--black-color);
  box-shadow: 34px 34px 0 0 var(--black-color);
}

.cta-img-notebook {
  height: 550px;
}

.cta-img-notebook:hover {
  transform: scale(1.02);
}

/* Faz o body ocupar no mínimo a altura da tela inteira */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Faz o conteúdo principal (main) crescer e empurrar o footer para baixo */
main {
  flex: 1;
}

.main-footer {
  width: 100%;
  background: var(--black-color);
  border-right: 4px solid;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-color: var(--black-color);
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.left-footer-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.footer-logo-img {
  height: 40px;
}

.footer-logo-img:hover {
  transform: scale(1.08);
}