/* Faz o body ocupar no mínimo a altura da tela inteira */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Faz o conteúdo principal (main) crescer e empurrar o footer para baixo */
main {
    flex: 1;
}

.main-footer {
  width: 100%;
  background-color: var(--dark-purple-color);
  display: flex;
  justify-content: center;

}

.footer-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}