/* Faz o body ocupar no mínimo a altura da tela inteira */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Faz o conteúdo principal (main) crescer e empurrar o footer para baixo */
main {
  flex: 1;
}

.cta-footer {}

.main-footer {
  width: 100%;
  background: var(--black-color);
  border-right: 4px solid;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-color: var(--black-color);
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.left-footer-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.footer-logo-img {
  height: 40px;
}

.footer-logo-img:hover {
  transform: scale(1.08);
}