/* Reset CSS de Eric Meyer - versão reduzida */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

:root {
  --primary-color: #C83232;
  --secondary-color: #501A5E;

  --background-primary-color: #2D1E36;
  --background-secondary-color: #1E1C2F;
  --background-tertiary-color: #DAD3CD;

  --text-primary-color: #DAD3CD;
  --text-secondary-color: #1E1C2F;

  --title-weight: 700;
  --menu-text-weight: 500;
  --text-weight: 400;

  --h1-font-size: clamp(2rem, 1.5rem + 2.5vw, 3.5rem);
  --h2-font-size: clamp(1.4rem, 1.3rem + 1.6vw, 2.4rem);
  --h3-font-size: clamp(1.31rem, 1.1rem + 1vw, 1.75rem);
  --h4-font-size: clamp(1.125rem, 1rem + 0.6vw, 1.375rem);

  --text-font-size: clamp(0.875rem, 0.8rem + 0.3vw, 1rem);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--title-weight);
  line-height: 1.2;
}

p,
a {
  font-size: var(--text-font-size);
  line-height: 1.6;
}

body {
  font-family: "Zalando Sans Expanded", sans-serif !important;
  color: var(--text-secondary-color);
}

.container {
  padding: 40px;
}