/* Reset CSS de Eric Meyer - versão reduzida */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white-color: #DAD3CD;
  --black-color: #1E1C2F;
  --light-purple-color: #501A5E;
  --dark-purple-color: #2D1E36;
  --red-color: #C83232;
  --grey-color: #5B5B68;

  --title-weight: 700;
  --text-weight: 500;

  --h1-font-size: clamp(1.5rem, 1rem + 3vw, 3rem);
  --h2-font-size: clamp(1.6rem, 1.3rem + 2.5vw, 2.4rem);
  --h3-font-size: clamp(1.4rem, 1.1rem + 2vw, 1.8rem);
  --h4-font-size: clamp(1.2rem, 1rem + 1.5vw, 1.4rem);

  --button-font-size: clamp(1rem, 0.9rem + 0.4vw, 1.1rem);
  --text-font-size: clamp(0.95rem, 0.85rem + 0.5vw, 1.15rem);
}


main {
  padding-top: 130px;
  background-color: var(--dark-purple-color);
}

/* Margem global do site*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/* Sections sempre 100% para aceitar fundos */
section {
  width: 100%;
  padding: 70px 0;
  border-right: 4px solid;
  border-left: 4px solid;
  border-bottom: 4px solid;
  border-color: var(--black-color);
}

.dark-section {
  background: var(--black-color);
}

.light-section {
  background: var(--white-color);
}

.gray-section {
  background: var(--grey-color);

}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--title-weight);
  line-height: 1.2;
  color: var(--white-color);
}

p {
  color: var(--grey-color);
  font-size: var(--text-font-size);
  font-weight: var(--text-weight);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--grey-color);
  font-size: var(--text-font-size);
  font-weight: var(--text-weight);
  line-height: 1.6;

}

a:hover {
  color: var(--red-color)
}

button,
input,
select,
textarea {
  font-family: inherit;
  /* Use a mesma fonte do pai */
}

body {
  font-family: "Zalando Sans Expanded", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  /* Estrutura para o footer ficar sempre no fim */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* Controle de visibilidade para evitar o "pulo" do header */
  opacity: 0;
  transition: opacity 0s ease-in;
}

body.loaded {
  opacity: 1;
}

.black-text {
  color: var(--black-color);
}

.white-text {
  color: var(--white-color);
}

.page-title {
  padding: 160px 0;
  background: var(--black-color);
}

.center-content {
  text-align: center;
}


/* --- ESPAÇAMENTOS PARA ITENS --- */
.large-bottom-margin {
  margin-bottom: 70px
}

.medium-bottom-margin {
  margin-bottom: 50px
}

.small-bottom-margin {
  margin-bottom: 30px
}


.red-line-spacing {
  border: 0;
  width: 16%;
  border-top: 4px solid var(--red-color);
  margin: 40px auto;
}

.red-line-lateral {
  padding-left: 24px;
  border-left: 4px solid var(--red-color)
}

.cta-button,
button {
  border: 4px solid var(--black-color);
  box-shadow: 10px 10px 0 0 var(--black-color);
  display: inline-block;
  padding: 10px 20px;
  font-size: var(--text-font-size);
  font-weight: var(--title-weight);
  color: var(--white-color);
  background: var(--light-purple-color);
}

.cta-button:hover {
  border: 4px solid var(--red-color);
  color: var(--white-color);
}



/* --- CONFIGURAÇÃO DOS PATTERN --- */
.vm-pattern {
  position: relative;
  overflow: hidden;
}

.vm-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-image: url('/svg/vm-pattern.svg');
  background-repeat: repeat;
  background-size: 340px;
  pointer-events: none;
}

.vm-pattern-light::before {
  opacity: 0.02;
}

.vm-pattern-dark::before {
  filter: brightness(0);
  /* Transforma o branco em preto/escuro */
  opacity: 0.02;
}

/* Ocupa a tela inteira */
.pattern-full::before {
  width: 100%;
}

/* Ocupa só a metade esquerda */
.pattern-left-50::before {
  width: 50%;
}

/* Ocupa só a metade direita */
.pattern-right-50::before {
  width: 50%;
  right: 0;
  left: auto;
}

/* Ocupa apenas o meio */
.pattern-center::before {
  width: 60%;
  left: 50%;
  /* Ou o tamanho que preferir para o centro */
  transform: translateX(-50%);
}


@media screen and (min-width:768px) {

}


@media screen and (min-width:1024px) {
  .red-line-lateral {
  padding-left: 40px;
}

section {
  padding: 140px 0;
}

.container {
  padding: 0 60px;
}
}


@media screen and (min-width:1440px) {
  
}