header {
  background-color: var(--background-primary-color);
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.logo {
  display: inline-block;
  width: 200px;
  height: 51px;
}

.burger {
  width: 35px;
  height: 35px;
}

nav {
  display: none;
}

input[type="checkbox"]:checked~nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--background-secondary-color);
  padding: 20px 40px;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 20px 0;
}

.list-links li a {
  color: var(--text-primary-color);
  text-decoration: none;
}