div#header-placeholder {
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* Quando o body for "pg-inicio", pinte o link "nav-inicio" e assim por diante */
.pg-inicio .nav-inicio,
.pg-front-end .nav-front-end,
.pg-design .nav-design,
.pg-sobre-mim .nav-sobre-mim {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 4px solid var(--red-color);
}

.pg-contato .nav-contato {
  border: 4px solid var(--red-color) !important;
}

.main-header {
  background-color: var(--dark-purple-color);
  border: 4px solid var(--black-color);
  position: relative;
  width: 100%;
}

.main-header>.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

nav {
  display: none;
}

.logo {
  display: inline-block;
  width: 63px;
  height: 63px;
}

.img-mobile {
  display: block;
}

.img-desktop {
  display: none;
}

.burger-clicker {
  cursor: pointer;
}

.burger {
  width: 35px;
  height: 35px;
}

.burger a:hover {
  color: var(--red-color);
}

input[type="checkbox"]:checked~nav {
  padding: 20px 40px 30px;
  display: block;
  position: absolute;
  /* Joga o menu 4px para a esquerda para cobrir a borda do pai ou alinhar */
  left: -4px;
  /* Soma a largura total + as duas bordas de 4px (8px) */
  width: calc(100% + 8px);
  top: 100%;
  background: var(--dark-purple-color);
  border: 4px solid var(--black-color);
  z-index: 999;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: var(--text-weight);
}

.list-links li a.botao-contato {
  border: 4px solid var(--black-color);
  box-shadow: 10px 10px 0 0 var(--black-color);
  display: inline-block;
  font-weight: 700;
}

.list-links li a.botao-contato:hover {
  transform: translate(-4px, -4px);
  box-shadow: 14px 14px 0 0 var(--black-color);
}

.botao-contato {
  background: var(--light-purple-color);
  padding: 10px 16px;
  color: var(--white-color) !important;
}

.botao-contato:hover {
  background: var(--red-color);
}


@media screen and (min-width:768px) {
  .main-header>.container {
    align-items: stretch;
  }

  .burger {
    margin-top: 0;
    width: auto;
    height: 24px;
  }

  .burger label {
    display: none;
  }

  .burger nav {
    display: block;
  }

  .burger ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .burger ul li {
    margin: 0 14px;
  }

  .botao-contato {
    border: 4px solid var(--light-purple-color);
    box-shadow: 10px 10px 0 0 var(--black-color);
    background: var(--light-purple-color);
    padding: 10px 20px;
    color: var(--white-color) !important;
    font-weight: var(--title-weight);
  }
}


@media screen and (min-width:1024px) {
  .logo {
    width: 260px;
    height: auto;
  }

  .img-desktop {
    display: block;
    height: 63px;
  }

  .img-mobile {
    display: none;
  }

  input[type="checkbox"]:checked~nav {
    padding: 20px 60px 30px;
  }
}

@media screen and (min-width:1440px) {
  .logo {
    width: 260px;
    height: auto;
  }

  .img-desktop {
    display: block;
    height: 63px;
  }

  .img-mobile {
    display: none;
  }
}