header {
  background-color: var(--background-primary-color);
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  display: inline-block;
  width: 62px;
  height: 62px;
}

.img-mobile {
  display: block;
}

.img-desktop {
  display: none;
}

.burger {
  width: 35px;
  height: 35px;
}

.burger a:hover {
  color: var(--primary-color)
}

nav {
  display: none;
}

input[type="checkbox"]:checked~nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--background-secondary-color);
  padding: 20px 60px;
}

.list-links {
  list-style: none;
}

.list-links li {
  margin: 20px 0;
}

.list-links li a {
  color: var(--text-primary-color);
  text-decoration: none;
  font-size: 18px;
}

@media screen and (min-width:768px) {
  header {
    padding: 40px 80px;
  }

  .burger {
    margin-top: 0;
    width: auto;
    height: 24px;
  }

  .burger label {
    display: none;
  }

  .burger nav {
    display: block;
  }

  .burger ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .burger ul li {
    margin: 0 10px;
  }

  .botao-contato {
    background-color: var(--secondary-color);
    padding: 16px 24px;
    color: var(--text-primary-color) !important;
  }

  .botao-contato:hover {
    background-color: var(--primary-color);
  }
}

@media screen and (min-width:1024px) {
  header {
    padding: 40px 120px;
  }

  .logo {
    width: 260px;
    height: auto;
  }

  .img-desktop {
    display: block;
    height: 62px;
  }

  .img-mobile {
    display: none;
  }
}

@media screen and (min-width:1280px) {
  header {
    padding: 40px 160px;
  }
}