.hero {
    height: 500px;
    background: url(/img/hero-circles-bg.png) fixed;
    background-color: var(--black-color);
    display: flex;
    align-items: center;
}

section.hero {
    border-right: 4px solid;
    border-left: 4px solid;
    border-bottom: 4px solid;
    border-color: var(--black-color);
}

.hero-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero-character {
    height: 500px;
}

.hero-character-img:hover {
    transform: scale(1.02);
}

.h1-title:hover {
    transform: translate(0, -4px);
}

@media screen and (min-width:768px) {
    .hero {
        min-height: 600px;
    }
}


@media screen and (min-width:1024px) {
    .hero {
        min-height: 700px;
    }
}