/* --- SEÇÃO SOFTWARES --- */
.software-icon:hover {
    fill: var(--red-color);
    transform: translate(0, -6px);
}

.software-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.software-column-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.software-column-skills {
    width: 100%;
}

.software-group-skills {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.software-icon {
    width: 50px;
    fill: var(--light-purple-color);
}

.software-item {
    margin-bottom: 20px;
}

.software-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 18px 0 6px;
}

.software-skill-bar {
    width: 100%;
    height: 18px;
    border: 6px solid var(--dark-purple-color);
    background-color: #dad3cd1a;
    margin-top: 8px;
    overflow: hidden;
}

.software-skill-level {
    height: 100%;
    width: 0;
    background-color: var(--white-color);
    transition: width 1.5s cubic-bezier(0.1, 0.5, 0.5, 1);
}

.software-cta {
    text-align: left;
    margin-top: 40px;
    padding: 0 36px;
}





/* -- SEÇÃO CARREIRA --- */
.career-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: var(--white-color);
    box-shadow: 34px 34px 0 0 var(--black-color);
    border: 6px solid var(--black-color);
    padding: 40px;
    margin-bottom: 20px;
}

.career-card:hover {
    border: 6px solid var(--red-color);
}

.career-age {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.career-text {
    text-align: left;
    margin-left: 0;
    padding-left: 0px;
    padding-top: 20px;
    border-left: 0;
    border-top: 6px solid #00000020;
}

.age-number {
    color: var(--light-purple-color);
    font-weight: 700;
    font-size: var(--h1-font-size);
    margin-top: -10px;
}

.age-lable {
    color: var(--light-purple-color);
    font-weight: 700;
    font-size: var(--h3-font-size);
    margin-top: -10px;
}















/* ========== RESPONSIVO - TABLET 768+ ==========*/

@media screen and (min-width:768px) {

    /* --- SEÇÃO SOFTWARES --- */
    .software-group-skills {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .software-item {
        flex: 0 1 calc(50% - 20px);
        min-width: 250px;
    }

    .software-icon {
        width: 60px;
    }

    .software-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .software-skill-level {
        height: 100%;
        width: 0;
        background-color: var(--white-color);
        transition: width 1.5s cubic-bezier(0.1, 0.5, 0.5, 1);
    }

    .software-cta {
        text-align: center;

    }





    /* --- SEÇÃO CARREIRA --- */
    .career-card {
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

    .career-age {
        flex-direction: column;
        gap: 0;
    }

    .career-text {
        text-align: left;
        margin-left: 40px;
        padding: 0 0 0 40px;
        border-left: 6px solid #00000020;
        border-top: 0;
    }
}














/* ========== RESPONSIVO - LAPTOP 1024+ ==========*/

@media screen and (min-width:1024px) {

    /* --- SEÇÃO SOFTWARES --- */
    .software-section {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        gap: 60px;
    }

    .software-column-text {
        width: 40%;
    }

    .software-column-skills {
        width: 60%;
    }

    .software-group-skills {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .software-item {
        flex: 0 1 calc(50% - 20px);
        min-width: 250px;
    }

    .software-icon {
        width: 60px;
    }

    .software-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    .software-skill-level {
        height: 100%;
        width: 0;
        background-color: var(--white-color);
        transition: width 1.5s cubic-bezier(0.1, 0.5, 0.5, 1);
    }

    .software-cta {
        margin-top: 60px;
    }
}














/* ========== RESPONSIVO - DESKTOP 1440+ ==========*/

@media screen and (min-width:1440px) {}