.grid-portfolio {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 30px;
    padding: 30px 0;
    width: 100%;
}

.filtros-container {
    display: flex;
    flex-direction: row;
}

button.btn-filtro {
    background: #0000 !important;
    padding: 16px 26px;
    border-bottom: 4px solid rgb(218 211 205 / 10%);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 0 0 !important;
}

button.btn-filtro.active {
    border-bottom: 4px solid var(--red-color);
}

button.btn-filtro:hover {
    color: var(--red-color);
}

.card-content {
    display: flex;
    flex-direction: column;
    border: 4px solid var(--black-color);
    background: var(--dark-purple-color);
    box-shadow: 34px 34px 0 0 var(--black-color);
    transition: transform 0s ease;
}

.card-content:hover {
    transform: translate(-6px, -6px);
    box-shadow: 40px 40px 0 0 var(--black-color);
    border: 4px solid var(--red-color);
}

.thumb-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1 !important;
    overflow: hidden;
    padding: 30px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.thumb-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border: 4px solid var(--black-color);
    flex-shrink: 0;
    box-sizing: border-box;
}

.card-text {
    padding: 0 30px 30px;
    background: var(--white-color);
}

.card-text h3 {
    margin: 0;
    font-size: var(--h3-font-size);
    color: var(--black-color);
    text-transform: none;
}


@media (max-width: 768px) {
    .grid-portfolio {
        grid-template-columns: 1fr !important;
        gap: 25px;
    }
}