/* --- BIO SECTION --- */
.bio-wrap {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.bio-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img.bio-character {
    height: 500px;
}

img.bio-character:hover {
    transform: scale(1.03);
}

/* --- ACCORDEONS --- */
.accordion-group {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
    gap: 10px;
    width: 100%;
}

.accordion-col {
    flex: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ol.skill-accordeon-text {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul.skill-accordeon-text {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

::marker {
    font-weight: 700;
}

li {
    border-bottom: 2px solid #00000010;
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.accordion-item {
    background: var(--white-color);
    border: 6px solid var(--black-color);
    box-shadow: var(--small-box-shadow);
    display: flex;
    flex-direction: column;
}

.accordion-item:hover {
    border: 6px solid var(--red-color);
    transform: var(--small-hover);
    box-shadow: var(--small-box-shadow-hover);
}

.accordion-header {
    padding: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
}

.skill-info {
    display: flex;
    align-items: center;
    gap: 24px;
}

.skill-icon {
    width: 60px;
    height: 60px;
}

.accordion-arrow {
    transform: rotate(-90deg);
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s cubic-bezier(0, 1, 0.5, 1);
}

/* Estado da Seta quando Aberto */
.accordion-item.active .accordion-arrow {
    transform: rotate(90deg);
}

.software-skill-bar {
    width: calc(100% - 40px);
    height: 18px;
    background-color: var(--white-color);
    margin: 0 auto 20px auto;
    border: 6px solid var(--black-color);
    overflow: hidden;
}

.software-skill-level {
    height: 100%;
    width: 0;
    background-color: var(--light-purple-color);
    transition: width 1.5s cubic-bezier(0.1, 0.5, 0.5, 1);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0s cubic-bezier(0, 1, 0.5, 1);
}

.accordion-item.active .accordion-content,
.accordion-simple-item.active .accordion-content {
    max-height: 600px;
}

.content-inner {
    background: #00000010;
    padding: 20px 26px;
    margin: 0 20px 20px;
}

.btn-certificado {
    color: var(--black-color);
    display: inline-block;
    padding: 10px 20px;
    border: 4px solid var(--black-color);
    font-weight: bold;
    text-decoration: none;
    color: var(--black-color);
}

.btn-certificado:hover {
    color: var(--white-color);
    background: var(--gray-color);
}





/* --- EXPERIÊNCIA PROFISSIONAL E FORMAÇÃO ACADÊMICA --- */
.accordion-group {
    flex-direction: column;
}

.experience-wrap {
    background: var(--white-color);
    padding: 30px;
    border: 4px solid var(--dark-purple-color);
    box-shadow: var(--small-box-shadow-light);
    margin-top: 10px;
}

.group-horizontal {
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}

.accordion-group-vertical {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.experience-date {
    font-family: var(--font-medium);
    color: var(--light-purple-color);
    font-size: var(--text-font-size);
}

.experience-details {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.accordion-plus {
    font-size: 2em;
    font-weight: 600;
    transition: transform 0.1s ease;
}

.accordion-plus:hover {
    color: var(--red-color);
}

.accordion-simple-item.active .accordion-plus {
    transform: rotate(45deg);
    color: var(--red-color);
}

.section-subtitle {
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.accordion-simple-item {
    background: #00000010;
    display: flex;
    flex-direction: column;
}

.accordion-simple-item.active .accordion-card {
    border-left: 4px solid var(--red-color);
}

.content-simple-inner {
    padding: 0 20px 20px;
    border-left: 4px solid var(--red-color);
}

.accordion-card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    border-left: 4px solid #00000000;
}

.accordion-card:hover {
    border-left: 4px solid var(--red-color);
}

.accordion-card.active {
    border-left: 4px solid var(--red-color);
}

.experience-icon {
    min-width: 200px;
    height: 140px;
    fill: var(--light-purple-color);
    margin-top: 10px;
}

.experience-icon:hover {
    fill: var(--red-color);
    transform: translate(0, -4px);
}

.career-title {
    text-align: center;
    padding: 0 20px;
}














/* ========== RESPONSIVO - TABLET 768+ ==========*/

@media screen and (min-width:768px) {
    .accordion-group {
        grid-template-columns: 1fr;
        flex-direction: row;
    }

    img.bio-character {
        height: 550px;
    }

    .experience-wrap {
        padding: 40px;
    }

    .accordion-card {
        padding: 30px 40px;
    }

    .accordion-col {
        gap: 20px;
    }

    .content-simple-inner {
        padding: 0 40px 30px;
        border-left: 4px solid var(--red-color);
    }

    .career-title {
        text-align: left;
        padding: 0;
    }

    .skill-icon {
        width: 80px;
        height: 80px;
    }

    .content-inner {
        background: #00000010;
        padding: 30px;
        margin: 0 40px 40px;
    }

    .accordion-item {
        box-shadow: var(--medium-box-shadow);
    }

    .accordion-item:hover {
        transform: var(--medium-hover);
        box-shadow: var(--medium-box-shadow-hover);
    }

    .accordion-group {
        gap: 20px;
    }

    .experience-wrap {
        box-shadow: var(--medium-box-shadow-light);
    }
}















/* ========== RESPONSIVO - LAPTOP 1024+ ==========*/

@media screen and (min-width:1024px) {
    .bio-wrap {
        flex-direction: row;
    }

    .group-horizontal {
        flex-direction: row;
        align-items: flex-start;
    }

    .accordion-header {
        padding: 40px;
    }

    .software-skill-bar {
        width: calc(100% - 80px);
        margin: 0 auto 40px auto;
    }

    .accordion-item {
        box-shadow: var(--large-box-shadow);
    }

    .accordion-item:hover {
        transform: var(--large-hover);
        box-shadow: var(--large-box-shadow-hover);
    }

    .accordion-col {
        gap: 30px;
    }

    .accordion-group {
        gap: 30px;
    }

    .experience-wrap {
        box-shadow: var(--large-box-shadow-light);
    }
}















/* ========== RESPONSIVO - DESKTOP 1440+ ==========*/

@media screen and (min-width:1440px) {

    img.bio-character {
        height: 660px;
    }
}