RewriteEngine On
# Se o arquivo existir com .html, redireciona para a versão sem extensão
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]